<!DOCTYPE html>

{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    <title>{% trans "GeekWriter" %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">{% trans "Main page" %}</a></li>
                    <li><a href="/writers/" class="nav-link px-2 text-white">{% trans "Writers" %}</a></li>
                    <li><a href="/books/" class="nav-link px-2 text-white">{% trans "Books" %}</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/favorites/" class="nav-link px-2 text-white">{% trans "Favorites" %}</a></li>
                        <li><a href="/mybooks/" class="nav-link px-2 text-white">{% trans "My books" %}</a></li>
                    {% endif %}
                </ul>
        
                <div class="text-end">
                    {% if user.is_authenticated %}
                        <span class="text-white me-2">{{ user.username }}</span>
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light me-2">{% trans "Logout" %}</button>
                        </form>
                    {% else %}
                        <a href="/login/" class="btn btn-outline-light me-2">{% trans "Login" %}</a>
                        <a href="/users/registration/" class="btn btn-primary">{% trans "Registration" %}</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </header>


    {% bootstrap_messages %}


    <div class="wrapper flex-grow-1">
        {% block content %}

        {% endblock content %}
    </div>
    
    {% block footer %}
    {% load static %}

    <div class="b-example-divider"></div>
    
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="https://github.com/GrigoriyKruchinin" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">{% trans "Author's page" %}</a>
            </div>
    
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/eho_california/"><img src="{% static 'img/instagram.png' %}" alt="inst" width="24" height="24"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://t.me/kga_93"><img src="{% static 'img/telegram.png' %}" width="24" height="24"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/grigoriy-kruchinin/"><img src="{% static 'img/linkedin.png' %}" width="24" height="24"></a></li>
            </ul>
        </footer>
    </div>

    {% endblock footer %}

    {% bootstrap_javascript %}
</body>
</html>